<div class="cent">
    <main class="overflow-hidden">
        <!-- rating & Slider -->
        <section class="rating_content">
            <div class="wrapper">
                <div class="row">
                    <div class="col-md-6 tab-100">

                        <!-- Feedback Form -->
                        <div class="productRating">
                            <div class="ratingHead">
                                <h2>How Satisfied are you overall Support of Our Website?</h2>
                            </div>
                            <form method="post" novalidate>
                                <div class="ratingBar">
                                    <div class="rangeNumber">
                                        <span class="number active">0</span>
                                        <span class="number">1</span>
                                        <span class="number">2</span>
                                        <span class="number">3</span>
                                        <span class="number">4</span>
                                        <span class="number">5</span>
                                        <span class="number">6</span>
                                        <span class="number">7</span>
                                        <span class="number">8</span>
                                        <span class="number">9</span>
                                        <span class="number">10</span>
                                    </div>
                                    <input type="range" name="bar" class="bar" min="0" max="10" value="0" step="0.01">
                                    <div class="likeThumb">
                                        <div class="thumbsingle">
                                            <ion-icon name="thumbs-down-sharp"></ion-icon>
                                            <p>Not At all Likely</p>
                                        </div>
                                        <div class="thumbsingle">
                                            <p>Extremely Likely</p>
                                            <ion-icon name="thumbs-up-sharp"></ion-icon>
                                        </div>
                                    </div>
                                </div>
                                <textarea name="message" class="maesage"
                                    placeholder="Let Us Know How We Did.."></textarea>
                                <h3 class="formHead">
                                    Share Your Car Buying Experience and Help Us Improve Our Service
                                </h3>
                                <div class="line"></div><br>
                                <label class="inputLabel">Have You Satisfied Or Not</label>
                                <div class="radio">
                                    <div class="radio-single">
                                        <input type="radio" name="agree" value="Yes">
                                        <label class="inputLabel">Yes</label>
                                    </div>
                                    <div class="radio-single">
                                        <input type="radio" name="agree" value="No">
                                        <label class="inputLabel">No</label>
                                    </div>
                                </div>
                                <button class="sub" class="submit" type="button">Send Feedback</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>