<div class="container">
    <div class="about-section">
        <h2>About Us</h2>
        <p>
            Welcome to HeavenOnWheels, your trusted partner in the world of automotive excellence. At
            HeavenOnWheels, we're dedicated to revolutionizing your car buying experience with unparalleled service and
            commitment.
        </p>
        <p>
            Driven by passion and expertise, our team strives to connect you with the perfect vehicle that meets
            your needs and exceeds your expectations. Whether you're looking for luxury, efficiency, or versatility,
            we offer a wide range of meticulously curated cars to suit every lifestyle.
        </p>
        <h3>Future Scope and Vision</h3>
        <p>
            HeavenOnWheels aims to expand its range with electric and hybrid vehicles and a certified pre-owned program,
            enhance customer experience through VR showrooms and AI chatbots, and undergo digital transformation with an online
            sales platform and mobile app. 
            <br>
            <br>
            Personalized services will include AI-driven recommendations and car subscriptions.
            Sustainability initiatives will feature green dealership practices and carbon offset programs. After-sales
            support will
            offer tailored maintenance packages and mobile service units. Community engagement will involve local
            partnerships and
            educational workshops.
        </p>
    </div>

    <div class="members-section">
        <div class="member">
            <!-- <img src="https://images.unsplash.com/photo-1492144534655-ae79c964c9d7?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTV8fHxlbnwwfHx8fHw%3D"
                alt="Member 1"> -->

                <img src="images/Tejas.jpg" alt="Member 1">
            <h3 class="card-name">Tejas Kamble</h3>
            <!-- <p class="card-role">Co-Founder</p> -->
            <p class="card-email">tejaskamble4274&#x40;gmail.com</p>
            <p>
                <button>
                    Contact Me
                </button>
            </p>
        </div>

        <div class="member">
            <img src="images/Aditya.jpg"
                alt="Member 1">
            <h3 class="card-name">Aditya Tarwade</h3>
            <!-- <p class="card-role">Co-Founder</p> -->
            <p class="card-email">tarwade.aditya&#x40;gmail.com</p>
            <p>
                <button>
                    Contact Me
                </button>
            </p>
        </div>


    </div>



    <div class="members-section">
        <div class="member">
            <img src="images/Parth.jpg"
                alt="Member 1">
            <h3 class="card-name">Part Chavan</h3>
            <!-- <p class="card-role">Co-Founder</p> -->
            <p class="card-email">Chavanparth30&#x40;gmail.com</p>
            <p>
                <button>
                    Contact Me
                </button>
            </p>
        </div>
        <div class="member">
            <img src="images/Shubham.jpg"
                alt="Member 1">
            <h3 class="card-name">Shubham Shinde</h3>
            <!-- <p class="card-role">Co-Founder</p> -->
            <p class="card-email">shubham&#x40;gmail.com</p>
            <p>
                <button>
                    Contact Me
                </button>
            </p>
        </div>
    </div>


</div>