

<div class="centerdiv">
    <div class="login-container">
        <h1>Login</h1>
        <form #logForm="ngForm" (ngSubmit)="checkuser(logForm)">
            <div class="input-group">
                <input type="text" id="username" required name="username" ngModel>
                <label for="username">Username</label>
            </div>
            <div class="input-group">
                <input type="password" id="password" required name="password" ngModel>
                <label for="password">Password</label>
            </div>
            <!-- <button type="submit" class="login-button">Login</button> -->
            <button class="button" >
                Login Now
                <svg fill="currentColor" viewBox="0 0 24 24" class="icon">
                    <path clip-rule="evenodd"
                        d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z"
                        fill-rule="evenodd"></path>
                </svg>
            </button>
        </form>
        <div class="links">
            <a routerLink="/register" class="register-link">Don't Have Account? Register..</a>
            <a routerLink="/adminlogin" class="admin-link">Go To Admin Login</a>
        </div>
    </div>
</div>
