
.carousel-inner img {
    width: 70%;
    height: auto;
    border-radius: 30px;
    filter: grayscale(0%);

}
.carousel-inner img :hover{
    filter: grayscale(100%);
}

.carousel-control {
    background-image: none; 
}

.carousel-control.left, .carousel-control.right {
    background-image: none; 
    width: 5%;
    color: #fff;
}

.carousel-control.left {
    left: -15px;
}

.carousel-control.right {
    right: -15px; 
}

.carousel-indicators {
    bottom: 0;
}

.carousel-indicators li {
    background-color: #888; 
    border: 1px solid #fff; 
}

.carousel-indicators .active {
    background-color: #333; 
}

.container{
    margin-top: 8%;
}

.gap{
    margin-top: -11%;
}